{% extends 'snippets.html' %}

{% block run_count %}
<a href="{{ code.download_url }}" class="btn btn-info" role="button">Download</a><br><br><br>
<p> Run Count :    {{ code.run_count }} <br>
</p>
<br>
{% endblock %}

{% block access_url %}
<p>Read Only URL:
<a href="http://idecode.herokuapp.com/codegen/{{ code.code_id }}/"> 
http://idecode.herokuapp.com/codegen/{{ code.code_id }}/
</a><br><br><br>

{% if read_only %}
	READ & Write URL: <a href="http://idecode.herokuapp.com/codegen/{{ code.code_id }}/?key={{ read_only }}"> 
	http://idecode.herokuapp.com/codegen/codegen/{{ code.code_id }}/?key={{ read_only }}
	</a>
{% endif %}
</p>
{% block output %} 

{% if code_output %}
****************************************************************
<div class="output" id="output" style="white-space: nowrap;overflow: scroll;">

<div class="content-heading-bold medium-margin">Compilation Log</div>
<div class="less-margin">
    <pre class="light">{{ code_output.compile_status }} </pre>
</div>

<div class="content-heading-bold" replacedata="false">Output</div>
<div class="less-margin">
    {% if code_output.run_status.output %}
        <pre class="light">{{ code_output.run_status.output }} </pre>
    {% else %}
    	<pre class="light">Standard output is empty</pre>
    {% endif %}
        
     
</div>
<div class="content-heading-bold medium-margin">Input</div>

<div class="less-margin">
    {% if code_input %}
        <pre class="light">{{ code_input }} </pre>
    {% else %}
    	<pre class="light">Standard input is empty</pre>
    {% endif %}
</div><br>
<div class="float-left col">
    <div class="content-heading-bold"> Code ID: {{ code.code_id }}
    </div>
    <!-- <div class="less-margin body-font dark"> November 01, 2015 at 02:45 PM
    </div> -->
</div><br>
<div class="float-left col">
    <div class="content-heading-bold">Time (sec)
    </div>
    <div class="less-margin body-font dark"> 
    {% if code_output.run_status.time_used %}
    	{{ code_output.run_status.time_used }}
    {% else %}
    	0.0
    {% endif %}
    </div>
</div><br>
<div class="float-left col">
    <div class="content-heading-bold"> Memory (KB)
    </div>
    <div class="less-margin body-font dark"> 
    {% if code_output.run_status.memory_used %}
    	{{ code_output.run_status.memory_used }}
    {% else %}
    	0
    {% endif %}
    </div>
</div><br>
<div class="float-left col">
    <div class="content-heading-bold"> Status
    </div>
    <div class="less-margin body-font dark"> 
    {{ code_output.run_status.status }}
    </div>
</div><br>
<div class="float-left col">
    <div class="content-heading-bold"> Status Detail
    </div>
    <div class="less-margin body-font dark"> 
    {{ code_output.run_status.status_detail }}
    </div>
</div>
<div class="clear"></div>

</div>
{% endif %}
{% endblock %}
{% endblock %}

{% block code_id %}
<input type="hidden" name="code_id" value=" {{ code.code_id }} " />
{% endblock %}


{% block form %}
<form action="/codegen/{{ code.code_id }}/" method="post">
{% endblock %}


{% block save_button %}
<input type="hidden" name="write_key" value="{{ read_only }}">
<div style="margin-left: 700px">
<a href=""><button type="button" class="btn btn-success">Save</button></a>
</div>
{% endblock %}


