{% extends 'snippets.html' %}

{% block run_count %}
<a href="{{ code.download_url }}" class="btn btn-info" role="button">Download</a><br><br><br>
<p> Run Count :    {{ code.run_count }} <br>
</p>
<br>
{% endblock %}

{% block access_url %}
<p>Read Only URL:
<a href="http://idecode.herokuapp.com/codegen/{{ code.code_id }}/"> 
http://idecode.herokuapp.com/codegen/{{ code.code_id }}/
</a><br><br><br>

{% if read_only %}
	READ & Write URL: <a href="http://idecode.herokuapp.com/codegen/{{ code.code_id }}/?key={{ read_only }}"> 
	http://idecode.herokuapp.com/codegen/codegen/{{ code.code_id }}/?key={{ read_only }}
	</a>
{% endif %}
</p>
{% endblock %}

{% block code_id %}
<input type="hidden" name="code_id" value=" {{ code.code_id }} " />
{% endblock %}


{% block form %}
<form action="/codegen/{{ code.code_id }}/" method="post">
{% endblock %}


{% block save_button %}
<input type="hidden" name="write_key" value="{{ read_only }}">
<div style="margin-left: 700px">
<a href=""><button type="button" class="btn btn-success">Save</button></a>
</div>
{% endblock %}


{% block output %} 
	{% if code_output %}
		{{ code_output }}
	{% endif %}
{% endblock %}
