{% extends 'snippets.html' %}

{% block run_count %}<p> Run Count: <input type="text" class="form-control" value="{{ code.run_count }}" readonly > </p><br>
{% endblock %}

{% block code_id %}
<input type="hidden" name="code_id" value=" {{ code.code_id }} " />
{% endblock %}


{% block form %}
<form action="/codegen/{{ code.code_id }}/" method="post">
{% endblock %}


{% block save_button %}
<div style="margin-left: 700px">
 <a href=""><button type="button" class="btn btn-success">Save</button></a>
 </div>
 {% endblock %}

 {% block output %} 
{{ code_output }}

{% endblock %}
