<!DOCTYPE html>
<html>
<head>
<title>CodeTable</title>{{ form.media }}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<style type="text/css">
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px; 

.container {
  white-space: nowrap;
  overflow: scroll;
}

.container > div {
  
  display: inline-block;
  margin: 10px;
}        
    }
</style>
</head>
<body>
<header>
<h1>CodeTable</h1>
</header>

<div id="container">
<div style="float:right;background-color:#eeeeee;padding:20px;width:350px;height:1000px;line-height:20px;">
<a href="/" class="btn btn-info" role="button" target="_blank">New Code</a><br><br>
<a href="/" class="btn btn-info" role="button">Clone!</a><br><br>

{% block run_count %}{% endblock %}
{% block access_url %}{% endblock %}
</div>

<div style=" float:left;padding:20px; margin-top: 60px">

{% block form %}
<form action="/codegen/" method="post">
{% endblock %}

{% csrf_token %}
<!-- {{ form.lang }}<br> -->
{{ form.file_name }}<br><br>

<div style="float:left;">
<select name="lang" class="form-control col-sm-3" id="lang">
    <option value="C">C</option>
    <option value="CPP">CPP</option>
    <option value="CPP11">CPP11</option>
    <option value="CLOJURE">CLOJURE</option>
    <!-- <option value="CSS">CSS</option> -->
    <option value="CSHARP">CSHARP</option>
    <!-- <option value="HTML">HTML</option> -->
    <option value="GO">Go</option>
    <option value="JAVA">JAVA</option>
    <option value="JAVASCRIPT">JAVASCRIPT</option>
    <option value="JAVASCRIPT_NODE">JAVASCRIPT_NODE</option>
    <option value="HASKELL">HASKELL</option>
    <option value="PERL">PERL</option>
    <option value="PHP">PHP</option>
    <option value="PYTHON">PYTHON</option>
    <option value="RUBY">RUBY</option>
    <option value="RUST">RUST</option>
    <option selected="selected">
    {{ code.lang }}
    </option>
</select>
</div>
{% block save_button %} {% endblock %}

<br><br>
{% block text %}
{{ form.text }}
{% endblock %}

{% block custom_input %}
{% endblock %}
<div style="float:right" >
<button class="btn btn-primary" type="submit">Compile & Run</button>
</div>
</form>

</div>

</div>
<footer>
Copyright © Codetable
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous">
</script>
</body>
</html>